# Puerto del servidor
PORT=3001

# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://cgarias_db_user:passwordsprimero@cluster0.nygdtwc.mongodb.net/biblioteca

# Tamaño máximo de archivo (MB)
MAX_FILE_SIZE_MB=10

# Ruta de subida de archivos
UPLOAD_PATH=./uploads

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:5173
